.nav-container{
    margin: 0;
    padding: 15px;
    background-color: #556655;
    border-radius: 10px;
}
.nav-left-element{
    margin: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
}
.nav-right-element{
    display: flex;
}

.link-items{
    margin-right: 20px;
    padding: auto;
}
.link-items:hover{
    background-color: goldenrod;
    border-radius: 10px;
}